@model BooksLibrary.Data.Models.Book

@{
    ViewData["Title"] = "Reservations";
    var bookReservations = ViewData["BookReservations"] as List<BooksLibrary.Models.ReservationModel>;
}

<h2>@Model.Title</h2>
<table class="table table-striped">
    <colgroup>
        <col span="1" style="width: 10%;" />
        <col span="1" style="width: 45%;" />
        <col span="1" style="width: 45%;" />
    </colgroup>
    <thead>
        <tr>
            <th>No.</th>
            <th>User name</th>
            <th>Reservation date</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1; }
        @foreach (var reservation in bookReservations)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@reservation.Owner</td>
                <td>@reservation.Date</td>
            </tr>
            i++;
        }
    </tbody>
</table>
